executor {
	$slurm {
        submitRateLimit = '500/10min'
    }
  $local {
     queueSize = 20
  }
}

process {
  withLabel:process_hpc {
    executor='slurm'
  	cpus = 1
	  clusterOptions = "--account=rokaslab"
	  time =  10.m
	  memory = 5.GB
	  array = 10 
  }
  withLabel:process_local {
      executor = 'local'
      cpus = 1
      memory = '0.25GB'
   }
}