params {
    query           = null
    subject         = null
    outdir          = 'results'
    evalue          = 1e-5
    max_target_seqs = 5
    outfmt_cols     = 'qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore'
    threads         = 4
}

process {
    executor = 'local'
}
